.login{
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: url(https://t4.ftcdn.net/jpg/02/75/96/99/360_F_275969992_cf6lDx5Vz0cIgouHW3DJmaXLe0djwFqO.jpg);
}

.us1{
    margin: auto;
    border: 1px solid #000;
    text-align: center;
    padding: 5px ;
    display: table;
    background: #c7c0c0b7;
}


.us2 {     
    margin: auto;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    display: table;
    background: #c7c0c0b7;
}

.us3{
    margin:auto ;
    border: 1px solid black;
    text-align: center;
    padding: 5px ;
    display: table;
    background: #c7c0c0b7;
}

.maindiv { 
    background-image: url(https://st4.depositphotos.com/1046763/38506/i/1600/depositphotos_385065556-stock-photo-beige-texture-background.jpg);
}
